.add-form {
	display: flex;
	gap: 10px;
	align-self: center;
}

.add-form input {
	padding: 10px 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.add-form button {
	padding: 10px 10px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
